@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .fa-beat-custom {
    --fa-animation-duration: 0.4s;
    --fa-fade-opacity: 0.6;
    --fa-animation-iteration-count: 1;
    --fa-beat-scale: 1.4;
  }
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("/fonts/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: bold;
  font-weight: 600;
  src: local(""), url("/fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: local(""), url("/fonts/Roboto-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("/fonts/Roboto-Light.ttf") format("truetype");
}

.montserrat {
  font-family: Roboto;
}

.roboto {
  font-family: Roboto;
}

:root {
  font-family: Roboto;
}

html,
body,
#app,
#app > div {
  height: 100%;
}

/* Tippy dark */

.tippy-box[data-theme~="dark"] {
  background-color: #0f0f0e;
  border: 1px solid #403d39;
  box-shadow:
    3px 3px 20px rgba(0, 0, 0, 0.1),
    3px -3px 20px rgba(0, 0, 0, 0.1),
    -3px 3px 20px rgba(0, 0, 0, 0.1),
    -3px -3px 20px rgba(0, 0, 0, 0.1);
}

.tippy-box[data-theme~="dark"][data-placement^="top"] > .tippy-arrow {
  bottom: -1px !important;
}

.tippy-box[data-theme~="dark"][data-placement^="top"] > .tippy-arrow:before {
  border-top-color: #403d39;
}

.tippy-box[data-theme~="dark"][data-placement^="bottom"] > .tippy-arrow:before {
  border-bottom-color: purple;
}

.tippy-box[data-theme~="dark"][data-placement^="left"] > .tippy-arrow:before {
  border-left-color: #403d39;
}

.tippy-box[data-theme~="dark"][data-placement^="right"] > .tippy-arrow:before {
  border-right-color: #403d39;
}

.tippy-box[data-theme~="dark"] > .tippy-backdrop {
  background-color: #403d39;
}

.tippy-box[data-theme~="dark"] > .tippy-svg-arrow {
  fill: #0f0f0e;
}

/* Tippy transparent */

.tippy-box[data-theme~="transparent"] {
  background-color: transparent;
}

.tippy-box[data-theme~="transparent"][data-placement^="top"] > .tippy-arrow:before {
  border-color: transparent;
}

.tippy-box[data-theme~="transparent"] > .tippy-svg-arrow {
  fill: transparent;
}

.list-name-field {
  display: none;
}

.bg-gray-7 {
  background-color: black !important;
}
.sidenav {
  background-color: black !important;
}
.note .card{
  border-color: #2d2d2d !important;
  border-radius: 12px;
  background-color: #151515 !important;
}
.navbar-bg {
  background-color: black !important;
}
.navbar-bg {
  background-color: #151515 !important;
}
.border-gray-6 {
  border-color: #26272d !important;
}
.active-tab {
  border-color: #7239dd;
}
#app {
  background-color: black;
}
.text-gray-2 {
  color: white !important;
  border-color: #373737;
}
.bg-gray-8 {
  background-color: #111;
}
.text-gray-1 {
  color: white !important;
}
.content-editable-container {
  border: 1px solid rgb(72, 72, 72);
  border-radius: 7px;
  padding: 10px;
  overflow-wrap: anywhere;
}
.link-preview-container {
  border-radius: 10px;
  border-color: #333;
}
.link-preview-text {
  background-color: #1a1a1a;
  color: #e8e8e8;
}
.bg-accent {
  background-color: #7239dd !important;
}
.w-8 {
  width: 3.5rem;
}
.note-buttons {
  width: 3.5rem !important;
}
.px-8 {
  padding-left: .5rem;
  padding-right: .5rem;
}
.bottom-bar {
  list-style: none;
  border-top: 1px solid #373737;
  height: 85px;
  padding: 0 0 10px 0 !important;
}
.post-button {
  bottom: 80px;
}
.botton-bar-button-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 15px;
}
.bottom-bar-button {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mr-2 {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
.notification-card {
  background-color: #151515 !important;
}
.routes-container {
  background-color: black;
}
.top-users-container {
  padding: 0 !important;
}
.person-info-card {
  height: 5rem;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.messages-bubble-sender {
  background-color: #7239dd;
  color: #fbfbfb;
}
.messages-bubble-recipient {
  background-color: #222;
}
.messages-timestamp {
  color: #fbfbfb;
}
.message-container {
  display: flex;
  flex-direction: column;
}
.message-container-sender {
  align-items: end;
}
.message-container-recipient {
  align-items: start;
}
.messages-compose {
  background-color: #262626;
}
.messages-compose-mobile {
  bottom: 85px;
  position: sticky;
  z-index: 9999;
}
.channel-messages-mobile {
  padding-bottom: 120px;
}
.topic-pill {
  background-color: #7239dd;
  border-radius: 13px;
  width: fit-content;
  padding: 2px 5px;
  text-decoration: none;
}
.topic-pill-login {
  margin-bottom: 10px;
}
.topic-pill-container {
  flex-wrap: wrap;
  height: 300px;
}
.explore-topic-wrapper {
  width: 100%;
}
.discover-card-name-header {
  margin-left: 10px;
}
.discover-card {
  background-color: #151515 !important;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
}
.notification-date-stamp {
  margin-top: 20px;
  margin-bottom: 10px;
}
.notification-card-container {
  margin-bottom: 10px;
}
.notification-card {
  background-color: #151515;
}
.note-author-name {
  overflow: hidden;
  text-overflow: ellipsis;
}
.person-link-container {
  overflow: hidden;
  text-overflow: ellipsis;
}
.compose-container {
  border-bottom: 1px solid #26272d;
  padding-bottom: 30px;
}
.notification-referenced-post {
  color: rgb(141, 147, 153);
  border: 1px solid #373737;
  border-radius: 13px;
  padding: 15px;
}
.notification-section {
  margin-bottom: 10px;  
}